In [197]:
import os
import pandas as pd
##import ipaddress as IP_ADDR
ip_address = pd.read_csv('Ip_addr.csv')
processes = pd.read_csv('process.csv')
netstat = pd.read_csv('netstat.csv')

In [198]:
netstat.tail()

      id          source        local     destination  PID
12  13.0  10.10.10.06:12  10.10.10.02             NaN   12
13  14.0  10.10.10.05:12      0.0.0.0             NaN   11
14  15.0  10.10.10.06:12      0.0.0.0             NaN   33
15  16.0             NaN  10.10.10.02  10.10.10.02:12   32
16   NaN             NaN      0.0.0.0  10.10.10.06:12   23

In [199]:

processes.head()

   id  process   PID
0   1       p1    12
1   2       p2    23
2   3       p3    13
3   4       p4    23
4   5       p5    33

In [200]:
ip_address[ip_address['app'] =='App1'].head()

   id           ip hostname   app
0   1  10.10.10.01    Host1  App1
2   3  10.10.10.03    Host3  App1

In [201]:
def dns_find(ip_port):
    ip = ip_port.split(":")
    return ip

In [202]:
dns_find('10.10.10.06:33')

['10.10.10.06', '33']

In [203]:
##netstat.loc[:, 'destination'] = netstat['destination'].str.split(':')

In [204]:
netstat.head()

    id source        local     destination  PID
0  1.0    NaN      0.0.0.0  10.10.10.06:33   12
1  2.0    NaN      0.0.0.0  10.10.10.05:33   23
2  3.0    NaN      0.0.0.0  10.10.10.07:33   33
3  4.0    NaN      0.0.0.0  10.10.10.07:33   33
4  5.0    NaN  10.10.10.02  10.10.10.67:33   23

In [210]:
netstat['sou_IP'], netstat['sou_port'] = netstat['source'].str.split(':', 1).str

In [211]:
netstat.tail()

,id,source,local,destination,PID,Sou_IP,Sou_port,sou_IP,sou_port
12,13.0,10.10.10.06:12,10.10.10.02,NaN,12,10.10.10.06,12,10.10.10.06,12
13,14.0,10.10.10.05:12,0.0.0.0,NaN,11,10.10.10.05,12,10.10.10.05,12
14,15.0,10.10.10.06:12,0.0.0.0,NaN,33,10.10.10.06,12,10.10.10.06,12
15,16.0,NaN,10.10.10.02,10.10.10.02:12,32,NaN,NaN,NaN,NaN
16,NaN,NaN,0.0.0.0,10.10.10.06:12,23,NaN,NaN,NaN,NaN

In [212]:
netstat['dest_IP'], netstat['dest_port'] = netstat['destination'].str.split(':', 1).str

In [225]:
##netstat[netstat['PID' == 12]['PID', 'sou_IP']]
netstat[netstat['PID'] ==12].head()

,id,source,local,destination,PID,Sou_IP,Sou_port,sou_IP,sou_port,dest_IP,dest_port,sou_host
0,1.0,NaN,0.0.0.0,10.10.10.06:33,12,NaN,NaN,NaN,NaN,10.10.10.06,33,NaN
5,6.0,NaN,10.10.10.02,10.10.10.99:33,12,NaN,NaN,NaN,NaN,10.10.10.99,33,NaN
6,7.0,10.10.10.01:55,0.0.0.0,NaN,12,10.10.10.01,55,10.10.10.01,55,NaN,NaN,Host1
11,12.0,10.10.10.06:33,10.10.10.02,NaN,12,10.10.10.06,33,10.10.10.06,33,NaN,NaN,Host6
12,13.0,10.10.10.06:12,10.10.10.02,NaN,12,10.10.10.06,12,10.10.10.06,12,NaN,NaN,Host6

In [221]:
ip_mapping = dict(ip_address[['ip', 'hostname']].values)

In [222]:
ip_mapping

{'10.10.10.01': 'Host1',
 '10.10.10.02': 'Host2',
 '10.10.10.03': 'Host3',
 '10.10.10.04': 'Host4',
 '10.10.10.05': 'Host5',
 '10.10.10.06': 'Host6'}

In [224]:
netstat['sou_host'] = netstat.sou_IP.map(ip_mapping)

In [227]:
netstat[netstat['sou_host'] =='Host5'].head()

,id,source,local,destination,PID,Sou_IP,Sou_port,sou_IP,sou_port,dest_IP,dest_port,sou_host
10,11.0,10.10.10.05:77,10.10.10.02,NaN,23,10.10.10.05,77,10.10.10.05,77,NaN,NaN,Host5
13,14.0,10.10.10.05:12,0.0.0.0,NaN,11,10.10.10.05,12,10.10.10.05,12,NaN,NaN,Host5

In [239]:
ip_address.lookup

<bound method DataFrame.lookup of    id           ip hostname   app
0   1  10.10.10.01    Host1  App1
1   2  10.10.10.02    Host2  App2
2   3  10.10.10.03    Host3  App1
3   4  10.10.10.04    Host4  App3
4   5  10.10.10.05    Host5  App3
5   6  10.10.10.06    Host6  App4>